body {
  text-transform: uppercase; 
  font-family: 'Joti One', cursive;
  background-color: #ffffff;
  text-align: center;
}
h1 {
  color: #000000;
  font-size: 70px;
}
h2 {
  color: #000000;
  font-size: 35px;
}
button {
  background-color: #ffffff;
  border: none;
}
div {
  color: #3f3f3f;
  font-size: 17.5px;
}
#complete {
  text-decoration-line: line-through;
}
span {
  height: 22px;
  width: 20px;
  display: inline-block;
}
p{
  font-size: 20px;
}

/* check icon */
.gg-check-r {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs,1));
  border-radius: 4px;
  left: -20px;
  top: 1px;
}
.gg-check-r::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

/* trash icon */
.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 11px;
  height: 15px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
  top: -2px;
  left: -14px;
}
.gg-trash::after, .gg-trash::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
}
.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -4px;
}
.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}

/* edit icon */
.gg-pen {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: rotate(-45deg) scale(var(--ggs,1));
  width: 14px;
  height: 4px;
  border-right: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-right: -2px;
  left: -5px;
  top: -10px;
}
.gg-pen::after, .gg-pen::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
}
/* pen back */
.gg-pen::before {
  background: currentColor;
  border-left: 0;
  right: -6px;
  width: 3px;
  height: 4px;
  border-radius: 1px;
  top: 0;
}
/* pen tip */
.gg-pen::after {
  width: 8px;
  height: 7px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 7px solid;
  left: -10px;
  top: -2px;
}
