body {
  text-transform: uppercase; 
  font-family: 'Joti One', cursive;
  background-image: url('bg.png');git
  background-size: 100%;
  text-align: center;
}
h1 {
  color: #000000;
  font-size: 70px;
}
h2 {
  color: #000000;
  font-size: 35px;
}

button {
  font-size: 23px;
  background-color: #ffffff;
  border: none;
}
div {
  color: #000000;
  font-size: 17.5px;
}
#complete {
  text-decoration-line: line-through;
}
span {
  height: 22px;
  width: 20px;
  display: inline-block;
}
p{
  font-size: 20px;
}
#task {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#task:focus {
  border: 3px solid #000000;
}

#due-date {
  color: #3f3f3f;
  font-size: 17.5px;
  width: 17%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#due-date:focus {
  color: #3f3f3f;
  font-size: 17.5px;
  border: 3px solid #555;
}

/* check icon */
.gg-check-r {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs,1));
  border-radius: 4px;
  left: -25px;
  top: 1px;
}
.gg-check-r::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

/* trash icon */
.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 11px;
  height: 15px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
  top: -2px;
  left: -19px;
}
.gg-trash::after, .gg-trash::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
}
.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -4px;
}
.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}
